
.navbar{
	position: relative;
}
.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

  .inputdemoBasicUsage .md-datepicker-button {
  width: 36px; }


  /*Estilos listas*/
  .edit-list{
      cursor: pointer;
      margin-left: 10px;
  }
  /******/


/*BOTONES*/
.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }
.buttondemoBasicUsage md-content {
  margin-right: 7px; }
.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }
.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }

  /*date picker*/

  .inputdemoBasicUsage md-datepicker {
    margin-top: 18px; }
  .inputdemoBasicUsage .md-datepicker-button {
    height: 36px;
    width: 36px;
    line-height: 36px; }
  .inputdemoBasicUsage .md-datepicker-input-container {
    margin-left: 2px; }

  .md-datepicker-calendar-pane {
    z-index:9999;
    }

  .md-datepicker-calendar, .md-datepicker-input-mask-opaque{
     background: rgb(255,255,255);
  }

  .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator{
     background: rgb(33,150,243);
     color: rgb(255,255,255);
     border-color: transparent;
  }

  .md-calendar-date-selection-indicator:hover{
     background: rgb(224,224,224);
  }

  .md-calendar-day-header{
     background: rgb(224,224,224);
     color: rgba(0,0,0,0.87);
  }
  /* */

  /*show dialog angular material*/
  .dialogdemoBasicUsage #popupContainer {
    position: relative; }
  .dialogdemoBasicUsage .debt-be-gone {
    font-weight: bold;
    color: blue;
    text-decoration: underline; }
  .dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }
  .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }

  /***************/

