<section ng-controller="ExampleController">
   <div class="page-header">
      
  </div>
  <div data-ng-show="!authentication.user">
    <% for(var i in messages) { %>
       <div class="flash"><%= messages[i] %></div>
    <% } %>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
      <form name="userForm" class="signin" action="/signin" method="post" novalidate autocomplete="off">
        <fieldset>
          <div class="form-group" show-errors>
            <label for="username" >Username</label>
            <input type="text" id="username" name="username" class="form-control" ng-model="usuario.user"  placeholder="Username" lowercase required>
          </div>
          <div class="form-group" show-errors>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="usuario.password" placeholder="Password" required>
          </div>
          <div class="text-center form-group">
            <input type="submit" class="btn btn-primary" value="Sign In" />
          </div>
          <div class="text-center forgot-password">
            <a ui-sref="register">Registrar Usuario</a>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- <a href="/signup">Crear Cuenta</a>
    <a href="/signin">Identificarse</a> -->
  </div>
  <div data-ng-show="authentication.user">
    <h1>Hola <span data-ng-bind="authentication.user.fullName"></span></h1>
    <a href="/signout">Cerrar Sesión</a>
    <ul>
      <li><a href="/#!/articles">Listar Artículos</a></li>
      <li><a href="/#!/articles/create">Crear Artículo</a></li>
    </ul>
  </div>
</section>