<div ng-controller="TareasController as ctrl" ng-app="tareas" data-ng-init="findOne()" class="md-inline-form inputdemoBasicUsage col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10" layout="column" ng-cloak="" class="md-inline-form">
    <h1>Editar Tarea</h1>
    <md-content layout-padding="">
      <form name="userForm" ng-submit="update()">

        <div layout="" layout-sm="column">
          <md-input-container flex="">
            <label>Título</label>
            <input md-maxlength="30" required name="description" ng-model="tarea.titulo">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">Titulo Obligatorio</div>
              <div ng-message="md-maxlength">Titulo debe ser menor de 30 caracteres</div>
            </div>
          </md-input-container>
          <md-datepicker ng-model="tarea.creado" md-placeholder="" disabled></md-datepicker>
        </div>

        <md-input-container class="md-block">
          <label>Descripcion</label>
          <input ng-model="tarea.descripcion">
        </md-input-container>

        <!-- <div layout="" layout-sm="column">
          <label>Fecha y Hora de Terminado</label>
          <md-datepicker class="datepickerdemoBasicUsage" ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
          <label>Fecha de Compromiso</label>
          <md-datepicker class="datepickerdemoBasicUsage" ng-model="user.submissionDate2" md-placeholder="Selecciona FEcha"></md-datepicker>
        </div> -->

        <md-contact-chips ng-model="ctrl.contacts" md-contacts="ctrl.querySearch($query)" md-contact-name="name" md-contact-image="image" md-contact-email="email" md-require-match="true" md-highlight-flags="i" filter-selected="ctrl.filterSelected" placeholder="Asginar Usuarios">
        </md-contact-chips>

        <div layout="" layout-sm="column">

          <md-input-container flex="" required>
            <label>Status</label>
            <md-select ng-model="tarea.status">
              <md-option ng-repeat="state in states" required value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>

          <!-- <h7>Fecha Entrega</h7> -->
          <md-datepicker ng-model="tarea.terminadoCompromiso" md-placeholder="Fecha Entrega" required ></md-datepicker>

        </div>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised md-primary" ng-disabled="userForm.$invalid">Guardar</md-button>
          <!-- <div class="label">Raised</div> -->
        </section>


      </form>
    </md-content>
</div>
