<div ng-controller="TareasController" data-ng-init="find()" class="container main col-xs-offset-1 col-xs-8 col-md-offset-1 col-md-10" >
    <section layout="row" layout-sm="column" layout-align="right" layout-wrap>
        <md-button class="md-raised md-button md-ink-ripple" type="button" ng-transclude="" href="/#!/tareas/create">Nueva Tarea</md-button>
        <!-- <div class="label">Raised</div> -->
      </section>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Tarea</th>
          <th>Creada por:</th>
          <th>Fecha de Creacion</th>
          <th>Fecha de Entrega</th>
          <th>Fecha Terminado</th>
          <th>Estatus</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="tarea in tareas" >
          <td >{{$index + 1}}</td>
          <td>{{tarea.titulo}}</td>
          <td>{{tarea.creador.fullName}}</td>
          <td>{{tarea.creado | date:'medium'}}</td>
          <td>{{tarea.terminadoCompromiso | date:'medium'}}</td>
          <td>{{tarea.terminado | date:'medium'}}</td>
          <td>{{tarea.status}}</td>
          <td><a href="/#!/tareas/{{tarea._id}}/edit" class="glyphicon glyphicon-pencil edit-list"></a> <a ng-click="delete(tarea,$event)" class="glyphicon glyphicon-remove edit-list"></a></td>
        </tr>
            
      </tbody>
    </table>
</div>