<!DOCTYPE html>
<html>
<head>
	<!-- Usar la propiedad 'title' para renderizar un título de página  -->
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/example/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/lib/angular-material/angular-material.css">
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
	<title><%= title %></title>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Brand</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tareas <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="/#!/tareas/create">Crear</a></li>
	            <li><a href="/#!/tareas/list">Listar</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Editar</a></li>
	            <li><a href="#">Eliminar</a></li>
	          </ul>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a ><span class="glyphicon glyphicon-user" aria-hidden="true"></span><%= userFullName %></a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cuenta <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Ajustes Cuentas</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="/signout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Cerrar Sesion</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<section ng-view></section>
	<!-- footer -->
	</nav>
	<script type="text/javascript">
    window.user = <%- user || 'null' %>;
    </script>
    
	<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
	<!-- <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script> -->
	<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
	<script type="text/javascript" src="/lib/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="/lib/angular-aria/angular-aria.min.js"></script>
	<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/lib/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/lib/angular-messages/angular-messages.min.js"></script>
	<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/articles/articles.client.module.js"></script>
    <script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
    <script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
    <script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>	
	<script type="text/javascript" src="/example/example.client.module.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<script type="text/javascript" src="/example/config/example.client.routes.js"></script>
	<script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
	<script type="text/javascript" src="/application.js"></script>
	<!-- tareas script -->
	<script type="text/javascript" src="/tareas/tareas.client.module.js"></script>
	<script type="text/javascript" src="/tareas/controllers/tareas.client.controller.js"></script>
    <script type="text/javascript" src="/tareas/services/tareas.client.service.js"></script>
    <script type="text/javascript" src="/tareas/config/tareas.client.routes.js"></script>	
</body>
</html>